/* BASIC CSS */
	body {
		background-color: #55688A;
		font-family: 'Barlow', sans-serif;
	}
	hr {
		margin: 0;
		border-width: 3px;
		border-color: #DB2C30;
	}
	.center-block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.not-found-nmbr {
		font-family: 'Josefin Slab', serif;
		font-size: 1200%;
	}
	.text-pages {
		cursor: pointer;
		color:#55688A;
		text-shadow: 0px 1px #ddd;
		font-size: x-large;
	}
	.text-pages-seperator {
		color:rgba(253, 253, 253, 0.95);
		/* text-shadow: 0px 1px #ddd; */
		font-size: large;
	}
	.text-index-subcategory {
		cursor: pointer;
		font-size: large;
	}
	.text-category {
		cursor: pointer;
		font-size: x-large;
	}

/* Search box */
	.search-container button {
		padding: 0.65em;
		margin-left: -0.2em;
		background: #fff;
		font-size: large;
		border: none;
		box-shadow: 5px 5px 10px #ddd;
		cursor: pointer;
	}
	.search-container button i {
		color: #bbb;
	}
	.search-container button:hover {
		background: #eee;
	}
	.search-container input[type=text] {
		padding: 0.65em;
		font-size: large;
		border: none;
		box-shadow: 5px 5px 10px #ddd;
	}
	.search-cat {
		margin-left: 0.5em;
	}

/* Post Card */
	.card {
		margin-top: 2em;
		background-color: #fff;
		border-radius: 10px 10px 0px 0px;
		height: 19em;
		box-shadow: 5px 5px 10px #ddd;
		cursor: pointer;
	}
	.card-image img {
		max-width: 100%;
		border-radius: 10px 10px 0px 0px;
	} 
	.card .card-title{
		padding: 15px;
		font-size: large;
	}
		
/* MYCONTAINER */
	/* for mobile device like phone and tablet */
	.mycontainer {
		margin: auto;
		margin-top: 2vh;
		margin-bottom: 2vh;
		background-color: rgba(253, 253, 253, 0.95);
		padding: 3vh 3vh 3vh 3vh;
	}

	/* for device like laptop, standard computer, mid-end tv */
	@media screen and (min-width: 800px) {
		.mycontainer {
			margin: auto;
			margin-top: 2vh;
			margin-bottom: 2vh;
			background-color: rgba(253, 253, 253, 0.95);
			padding: 6vh 12vh 6vh 12vh;
		}
	}

	/* for device with high end display */
	@media screen and (min-width: 2880px) {
		.mycontainer {
			margin: auto;
			margin-top: 4vh;
			margin-bottom: 4vh;
			background-color: rgba(253, 253, 253, 0.95);
			padding: 2vh 4vh 2vh 4vh;
		}
	}

	.myexpander {
		min-height: 100vh;
		overflow: auto;
	}
